h2 {
  font-family: 'Sancreek', cursive;
  /*text-align: center;*/
}

h3 {
  font-family: 'Viga', sans-serif;
}

body {
  padding: 100px;
}

.bars {
  font-family: 'Sancreek', cursive;
  font-size: 20px
}

.details {
  font-family: 'Viga', sans-serif;
  font-size: 24px;

}

.fullscreen {
  background-image: url('https://lynesandco.files.wordpress.com/2012/05/img_3159.jpg');
  background-size: cover;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;

}

.container {
  margin: 0 auto;
}

.controls {
  padding-top: 10px;
}

.item >img { width: 100%;

}

.control-group {
  padding-bottom: 20px;
}

#this-carousel-id {
  border: 10px solid;
}

.thumbnail {
  /*height: 300px;*/
  width: 100%;
  text-align: center;
  border: 10px solid ;
}

li {
  list-style: none;
}

.navbar {
  opacity: 0.8;
}

.navbar-brand {
  font-family: 'Sancreek', cursive;
  font-size: 28px;
}

.link {
  font-family: 'Sancreek', cursive;
  font-size: 20px
}

.profile_image {
  border: 10px solid ;
}

.text {
  font-family: 'Viga', sans-serif;
}

p {
  font-family: 'Viga', sans-serif;
  font-size: 20px;
}